/*$main-color: rgb(32, 117, 187);
$secondary-color: rgba(130, 159, 174, 0.559);

$font-serif: Georgia, "Times New Roman", Times, serif;
$font-sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$size-0: 0;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;
$size-6: 6rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $size-0;

  font: {
    family: $font-serif;
    weight: 600;
  }
}*/
@import "./partials/resets.scss";
@import "./partials/buttons.scss";
@import "./partials/font.scss";

.container {
  width: 100%;
  margin: {
    left: auto;
    right: auto;
  }

  padding: {
    left: $size-4;
    right: $size-4;
    top: 0;
  }
}

nav {
  background-color: $secondary-color;
  padding: $size-4;

  div {
    div {
      ul {
        display: flex;
        gap: 1rem;
        margin-top: 0;
        li {
          list-style-type: none;
        }
      }
    }
  }
}
.flex-nav {
  display: flex;
}

.hero {
  background-color: $secondary-color;

  margin-top: 3rem;
  justify-content: space-between;

  display: flex;
}
.text {
  width: 40%;
  padding: $size-5;
}
.img {
  width: 50%;
  img {
    width: 100%;
  }
}
section {
  .container {
    .grid {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      div {
        width: 20%;
        img {
          width: 100%;
        }
      }
    }
  }
}

.bottone-primario {
  @include bottone(blue, white);
}

.bottone-secondario {
  @include bottone(rgb(71, 185, 223), white);
}
