$button-colors: (
  lightblue: #8fb7e2,
  grey: #6c757d,
  green: #0fe742,
  blue: #17a2b8,
);
@each $name, $color in $button-colors {
  .btn-#{$name} {
    background-color: $color;
  }
}

@mixin bottone($bg, $color) {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: $bg;
  color: $color;
}
